body{
    background-color: rgb(255, 247, 242);
}
.todo-title{
    font-family: cursive;
    color: rgb(255, 149, 149);
}

.todo{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(107, 2, 2);
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;

}

.todo:hover{
    color: rgb(207, 0, 0);
    background-color: #e7d8da !important;
}


div > .material-icons{
    color: rgb(216, 0, 61);
}

.navbar{
    position: fixed;
    right: 8px;
    bottom: 0;
    width: 100%;
    text-align: right;
    font-size: 10px;
}

nav{
    margin-bottom: 50px;
}

.top-navbar:hover{
    background-color: #e90d2a !important;
  
}

.brand-logo{
    font-family: cursive;
    
}


.delIcon{
    cursor: pointer;
}

.addtodo{
    margin-bottom: 100px;
}

.addtodo > label:hover{
    color: #e90d2a !important;
}

.addtodo > input{
    box-shadow: none !important;
    border-bottom: #e90d2a solid 0.01cm !important;
}

.addtodo > input:hover{
    background-color:  rgb(247, 241, 240);
}